/* -----------------------------------------*/
// レスポンシブ対応
/* -----------------------------------------*/
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1250px) {
    @content;
  }
}


/* -----------------------------------------*/
// 共通ボタン（矢印はcss対応）
/* -----------------------------------------*/
@mixin button($width, $height, $padding) {
  width: $width;
  height: $height;
  background-color: #1A7D84;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  padding: $padding;
  transition: transform 0.8s ease, background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid transparent;
  cursor: pointer;
  transform: translateX(0);

      .arrow,
      .arrow::before {
        background-color: #ffffff;
        transition: background-color 0.3s ease;
      }

        &:hover {
        .arrow,
        .arrow::before {
            background-color: #1A7D84;
        }
        }


  &:hover {
    color: #1A7D84;
    background-color: #fff;
    border: 1px solid #1A7D84;
    transform: translateX(30px);
    @include mobile{
      transform: translateX(0);
    }
  }
}







