// 色
$primary-color: #1A7D84;
$secondary-color: #A1CBCE;
$accent-color:#F1F5C3;
$text-color: #575756;
$bg-color: #DAEAEB;

// フォント
$main-font-family: "Noto Sans JP",sans-serif;

// サイズ
$font-size-base :10px;

